<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:postgresql://ec2-54-243-253-24.compute-1.amazonaws.com:5432/d3lt7eju0rnvls?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory
        </property>

        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">eygcpqilbxijom</property>
        <property name="connection.password">c65b737c10e9364f90419b0e45736ca331572f6176d3020a1a9356422d77424b</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="show_sql">true</property>
        <mapping class="model.CategoriesEntity"/>
        <mapping class="model.GoodsEntity"/>
        <mapping class="model.RatesEntity"/>
        <mapping class="model.UsersEntity"/>
    </session-factory>
</hibernate-configuration>